CONFIG = {
    # 你存电影的文件夹
    "source_dir" : "/mnt/f/utdownload/films",
    # uploady生成信息所存的文件夹
    "uploady_dir" : "/mnt/f/gpw/uploady",
    # 所有uploady可以做的操作，如果你不需要uploady帮你做，就把对应条目改为True/False
    "pipeline" : {
        "screenshot" : {
            # 不需要截图功能将此项改为False
            "screenshot" : True,
            # 截图的时间点，给的例子表示在影片播放20%、40%、60%、80%的位置各截一张图
            "quantiles" : [0.2, 0.4, 0.6, 0.8],
            # 将截出来的图自动上传到gpw图床，如果需要此功能则必填后面的gpw的cookies
            # 结果会以bbcode的形式存在screenshot_bbcode.txt里
            "upload_to_image_host" : True,
        },
        # 生成mediainfo，结果会存在mediainfo.txt里
        "mediainfo" : True,
        # 重新制种
        # 如果原mkv文件夹在source_dir一级目录下，则种子只包含单mkv文件
        # 如果原mkv文件夹在source_dir的二级目录下，则种子只包含一个文件夹目录下的单mkv文件
        "mktorrent" : True,
        # 在uploady文件夹里生成一个mkv文件的软连接
        "mkv_softlink" : True,
    },
    # 如果上面的upload_to_image_host为True，则cookie必填，否则可忽略
    "gpw" : {
        "cookies" : {
            "lang":"chs",
            "session" : "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
            "PHPSESSID": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxx",    
        }, 
    },
}